/* CSS Code, der für alle Web Pages gleich ist und auf allen Web Pages eingebunden werden muss. */

html,
body {
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  height: 70px;
  color: #ffffff;
  background-color: #67563c;
  padding: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a:hover {
  color: #f7f7f7;
  text-decoration: underline;
}

.header a{
  color: beige;
  text-decoration: none;
  margin: 10px;
}

.content {
  flex-grow: 1;
  background-color: #f7f7f7;
  padding: 12px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap; /* Umbruch für Mobilgeräte */
}

.footer {
  display: flex;
  flex-direction: column; /* Ändern in Spaltenlayout für die Namen */
  align-items: center;
  justify-content: center; /* Zentrieren von Text und Namen */
}
 
.footer p {
  margin-bottom: 10px; /* Abstand zwischen Text und Namen */
}
.footer .names, p, .social-media{
	margin-top: 1em;
	margin-bottom: 1em;
}
 
.footer .names {
  display: flex;
  flex-wrap: wrap; /* Namen auf neue Zeilen umbrechen */
  justify-content: center; /* Namen in der Mitte zentrieren */
  width: 100%; /* Namen über die gesamte Breite des Footers */
}
 
.footer .names span {
  margin-left: 3em; /* Standard-Abstand zwischen den Namen */
  margin-right: 3em; 
}
.footer .social-media {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 400px; /* Optional: Begrenzt die Breite der Social-Media-Icons */
}
 
.footer .social-media a {
  display: block;
}
 
.footer .social-media img {
  width: 40px; /* Anpassen der Größe der Social-Media-Icons */
  height: auto;
}
