/* CSS Code, der für alle Web Pages gleich ist und auf allen Web Pages eingebunden werden muss. */

html,
body {
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  height: 70px;
  color: #ffffff;
  background-color: #67563c;
  padding: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a:hover {
  color: #f7f7f7;
  text-decoration: underline;
}

.header a{
  color: beige;
  text-decoration: none;
  margin: 10px;
}

.content {
  flex-grow: 1;
  background-color: #f7f7f7;
  padding: 12px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap; /* Umbruch für Mobilgeräte */
}
