.titleimage {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block; /* Sicherstellen, dass das Bild ein Blockelement ist */
}
.outer-container {
    display: flex;
    justify-content: center; /* Zentrieren der inneren Container */
}

.inner-container {
    display: flex;
    border: 2px solid #000; /* Rahmen um beide Blöcke */
}

.block {
    flex: 1; /* Flexibles Wachstum für beide Blöcke */
}

.block img {
    width: 100%; /* Bild auf 100% der Breite des Blocks setzen */
    height: auto; /* Automatische Höhe beibehalten */
    display: block; /* Bild als Blockelement anzeigen */
}

@media (max-width: 768px) {
    .outer-container {
        flex-direction: column; /* Auf Mobilgeräten untereinander anordnen */
    }

    .inner-container {
        border: none; /* Rahmen auf Mobilgeräten entfernen */
    }

    .block {
        width: 100%; /* Volle Breite auf Mobilgeräten */
    }
}
