.image-container {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.titleimage {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-text {
  position: absolute;
  top: 76%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.overlay-button {
  position: absolute;
  top: 98%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  margin: 40px;
  }
  
.textbox {
  flex: 1;
  background-color: #f7f7f7;
  margin-right: 20px;
  }
  
.textbox img {
  width: 100%; /* Das Bild wird auf die volle Breite der Textbox skaliert */
  margin-bottom: 10px; /* optional: Füge etwas Abstand zwischen dem Bild und dem Text hinzu */
  }
  
.textbox h1 {
  margin-left: 20px;
}
  
.textbox p {
  margin: 0 20px 20px 20px;
}

.container-animation {
  width: 100%;
  overflow-x: hidden;
}

.horizontal-scrolling-items {
  display: flex;
  font-size: 40px;
  width: 2600px;
  will-change: transform; /* Optimierung für bessere Performance */
}

.horizontal-scrolling-items__item {
  white-space: nowrap;
}


@media only screen and (max-width: 992px) {
  .overlay-text {
    font-size: 1.3em;
        
  }
  .overlay-button {
      display: none;
    }
}

  @media only screen and (max-width: 600px) {
    .container {
      flex-direction: column; /* Ändere die Ausrichtung auf Spalten, wenn die Bildschirmbreite kleiner als 600px ist */
    }
    
    .textbox {
      margin-right: 0; /* Entferne den rechten Abstand, damit die Textboxen nicht seitlich verschoben werden */
      margin-bottom: 10px; /* optional: Füge etwas Abstand zwischen den Textboxen hinzu */
    }

    .overlay-text {
      display: none;
  }
}

