.titleimage {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 40px;
}
.menu-row {
  display: flex;
}
.textbox {
  flex: 1;
  background-color: #f7f7f7;
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc(50% - 10px);
}
.textbox img {
  width: 100%;
  margin-bottom: 10px;
}
.textbox h1 {
  margin-left: 20px;
}

.textbox p {
  margin: 0 20px 20px 20px;
}

@media only screen and (max-width: 600px) {
  .menu-row {
    flex-direction: column; /* Ändere die Flex Direction auf column */
  }

  .textbox {
    flex: none; /* Setze die Flex-Grow-Eigenschaft auf none, um die automatische Breitenanpassung zurückzusetzen */
    width: 100%; /* Setze die Breite auf 100%, um die volle Breite des Containers zu nutzen */
    margin-right: 0; /* Entferne den rechten Seitenabstand */
  }
}

