.titleimage {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 40px;
}
.menu-row {
  display: flex;
}
.textbox {
  flex: 1;
  background-color: #f7f7f7;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: calc(50% - 10px);
}
.textbox img {
  width: 100%;
  margin-bottom: 10px;
}
.textbox p {
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .textbox {
    width: 100%;
    margin-right: 0;
  }
}
